.containerFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25px;
    /* background-color: rgb(55, 99, 180); */
    background: #E5F6FA;

    
}

.teamText{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.326);
}

.teamText:hover{
    transform: scale(1.1);
}